}}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.template-ixio {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.template-ibp3 {
    width: 450px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.template-ir1z {
    width: 450px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.label {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 2.8px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 1px;
}

.input.form-control {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.button.btn.btn-primary {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    margin-top: 29px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: rgb(32, 61, 152);
}

.cell {
    width: 100%;
    display: block;
}