}}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.template-ijly {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.template-ik0g {
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.template-i5cr {
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.template-im53 {
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.template-i0fk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.template-i5p8 {
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.template-iouc {
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.template-idkr {
    width: 350px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.label {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    padding-top: 2.1px;
    padding-right: 6.3px;
    padding-bottom: 3.15px;
    padding-left: 2px;
    font-size: 14px;
}

.template-i0x0f {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.template-is8vc {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.input.form-control {
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.form-control {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.button.btn.btn-primary {
    padding-top: 9px;
    padding-right: 28px;
    padding-bottom: 9px;
    padding-left: 28px;
    margin-top: 29px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: rgb(40, 61, 144);
}

.cell {
    width: 100%;
    display: block;
}

.template-ii6yk {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.template-ikzxm {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}